<h7>Fire Entertainment Blog</h7>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <button type="button">{{#link-to 'index'}}Home{{/link-to}}</button>
        <button type="button">{{#link-to 'about'}}About{{/link-to}}</button>
        <button type="button">{{#link-to 'contact'}}Contact{{/link-to}}</button>
      </div>
    </div>
  </div>
</div>
{{outlet}}
